* {
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    width: 500px;
    max-width: 90%;
    margin: 50px auto;
}

h1 {
    text-align: center;
}

.task-form {
    display: flex;
    gap: 10px;
}

#task-title {
    flex: 1;
    padding: 12px;
    font-size: 16px;
}

button {
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    margin-top: 10px;
    background-color: white;
    border: 1px solid #ddd;
}

.completed-checkbox {
    accent-color: blue;
}
.completed-checkbox:checked + label {
    text-decoration: line-through;
    opacity: 0.5;
}

.delete-btn{
    width:120px;
    border-radius: 8px;
    background-color:beige;
}